.card {
    width: 400px;
    height: 250px;
    border: 2px solid rgb(6, 6, 121);
    border-radius: 2%;

    &__title {
        width: 100%;
        height: 20%;
        border-bottom: 2px solid rgb(6, 6, 121);
    }

    &__body {
        width: 100%;
        height: 60%;
    }

    &__footer {
        width: 100%;
        height: 20%;
    }
}
