.print {
    width: 750px;
    height: 700px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 50px;
    color: rgb(2, 2, 59);
    background-image: url("../../images/stickyNote.png");
    background-repeat: no-repeat;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

    &__card {
        margin-top: 150px;
        width: 80%;
        height: 375px;
    }

    &__title {
        margin: auto;
        margin-bottom: 50px;
        font-size: 36pt;
        font-weight: bold;
        text-transform: uppercase;
        border-bottom: 3pt dashed rgb(2, 2, 59);
    }

    &__body {
        font-size: 20pt;
        border-bottom: 3pt dashed rgb(2, 2, 59);
    }

    &__footer {
        font-weight: bold;
        font-size: 18pt;
    }

    &__actions {
        margin: auto;
        width: 500px;
        display: flex;
        justify-content: space-evenly;
    }
}

.prop {
    margin: auto;

    &__title {
        font-weight: bold;
        text-transform: uppercase;
    }

    &__value {
        margin: 0;
        margin-bottom: 20px;
        word-break: break-word;
    }

    &:last-child {
        margin-bottom: 50px;
    }
}
