.list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: calc(100% - 300px);
    margin-bottom: 180px;
    justify-content: space-evenly;

    &--filter {
        font-size: 14pt;
        font-weight: bold;
        color: rgb(2, 2, 59);
        margin-bottom: 20px;
    }

    &--actions {
        height: 180px;
        background-color: white;
        bottom: 0%;
        width: 100%;
        padding-top: 25px;
        position: fixed;
        bottom: 0;
        overflow: hidden;
    }

    &--search {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &-bar {
            width: 250px;
            height: 30px;
            text-align: center;
            border: 1px solid rgb(2, 2, 59);
            border-radius: 2%;
            font-size: 14pt;
            color: rgb(2, 2, 59);
            margin-bottom: 20px;
        }
    }
}
