.list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;

    &--filter {
        font-size: 14pt;
        font-weight: bold;
        margin-bottom: 20px;
    }
}

.main-button {
    width: 150px;
    height: 40px;
    border: 2px solid rgb(2, 2, 59);
    border-radius: 2%;
    background-color: white;
    color: rgb(2, 2, 59);
    font-size: 16pt;
    font-weight: bold;
}
